<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
    <header class="sidebar-header">
        <span class="logo">
            <a href="../index.html">Carpark App</a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>
    <nav class="sidebar-navigation">
        <ul class="menu">
            <li class="menu-item active">
                <a class="menu-link" href="../dashboard/index.html">
                    <span class="icon fa fa-home"></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>