@model CarPark.Core.Models.GetManyResult<CarPar.Entities.Concrete.Personel>
@{
    ViewData["Title"] = "GetPersonelsByAge";
}

<h3>Yaşa göre personeller</h3>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kullanıcı Adı</th>
    </tr>
    @foreach (var personel in Model.Result)
    {
        <tr>
            <td>@personel.Id</td>
            <td>@personel.Email</td>
            <td>@personel.CreatedDate</td>
            <td>@personel.UserName</td>
        </tr>
    }
</table>

